@media (max-width: 600px) {
    /*cabeçalho da página*/
    header{
        max-width: 1320px;
        Height: 550px;
        background-position: center;
    }
    p{
        font-size: 18px;
        font-weight: bold;
        width: 350px;
    }
    .buttons {
      flex-direction: column;
      align-items: center;
    }
    #button1{
        display: none;
    }
    #button1smart{
        display: block;
    }

    /*Primeiro conteúdo da página*/
    .cont1{
        flex-direction: column;
        height: 580px;
    }
    section img{
        width: 100%;
    }
    .conteudo1{
        flex-direction: column;
        text-align: center;
    }
    .conteudo1 h1{
        font-size: 24px;
        font-weight: 800;
        width: 100%;
    }
    .conteudo1 p{
        font-size: 16px;
        font-weight: 400;
    }

    /*Segundo conteúdo da página*/
    .cont2{
        flex-direction: column;
        gap: 20px;
        height: 600px;
    }
    .conteudo2{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding-top: 30px;
    }
    .conteudo2 h1{
        font-size: 40px;
        font-weight: 800;
        width: 100%;
    }

    /*Terceiro conteúdo da página*/
    .cont3{
        flex-direction: column;
        gap: 20px;
        height: 640px;
    }
    .conteudo3{
        flex-direction: column;
        text-align: center;
        gap: 20px;
        padding-top: 60px;
    }
    .conteudo3 h1{
        font-size: 40px;
        font-weight: 800;
        width: 100%;
    }
  }