@media (max-width: 600px) {
    /*cabeçalho da página*/
    header{
        max-width: 1320px;
        Height: 550px;
        background-position: center;
    }
    p{
        font-size: 18px;
        font-weight: bold;
        width: 350px;
    }
    .buttons {
      flex-direction: column;
      align-items: center;
    }
    #button1{
        display: none;
    }
    #button1smart{
        display: block;
    }

    /*Primeiro conteúdo da página*/
    section{
        flex-direction: column;
        height: 580px;
    }
    section img{
    width: 100%;
    }
    .conteudo1{
        flex-direction: column;
        text-align: center;
    }
    .conteudo1 h1{
        font-family: "Open Sans", sans-serif;
        color: #23272A;
        font-size: 24px;
        font-weight: 800;
        width: 100%;
    }
    .conteudo1 p{
        font-family: "Open Sans", sans-serif;
        color: #23272A;
        font-size: 16px;
        font-weight: 400;
    }
  }